body {
    background-color: #ffffff;
    color: #222222;
}

#titulo {
    text-align: center;
    font-weight: bold;
}

#imagemMoeda {
    width: 150px;
}

#botaoJogar {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}